.request_container{
    margin-top: 5px;
    margin-left: 90px;
    width: 350px;
    
    
}

.request_form_container{
    margin-left: 100px;
    background-color: white;
    width: 420px;
    margin-bottom: 20px;
    
    
}
.request_input{
    width: 350px;
    height: 40px;
    margin-left: 36px;
    padding-left: 5px;
    margin-top: 0px;
}
.request_input1{
    width: 350px;
    height: 250px;
    margin-left: 36px;
    padding-left: 5px;
    resize: none;
    margin-top: 5px;
}

.request_h2{
    display: inline;
    color: white;
}
.request_p{
    text-align: center;
    font-size: large;
    font-weight: bold;
    line-height: 50px;
}
.request_p1{
    font-size: large;
    font-weight: bold;
    padding-left: 33px;
    line-height: 35px;
}
.request_p2{
    padding-left: 33px;
}
.request_select{
    
    width: 150px;
    margin-left: 30px;
    background-color:  #BECBD1;
    height: 40;
    text-align: center;
}
.Request_button{
    
        width: 120px;
        height: 40px;
        margin-left: 150px;
        background-color: #14B318;
        border-top-style: none;
        border-bottom-style: none;
        border-right-style: none;
        border-left-style: none;
        color: white;
        border-radius: 5%;
    }

    #Home{
        margin-left: 25px;  
        font-weight: bold;
        
    }

    #Reqlogout{
        /* margin-left: 1210px; */
        margin-right: 25px;
        font-weight: bold;
        float: right;
    }

    #menu_reqbutton{
    
        height: 40px;
        background-color: rgba(52,58,64,0.3);
        border-color: #28A745;
        color: #28A745;
        border-radius: 10px;
        float: left;
        display: block;
        margin-left: 30px;
        margin-top: 8px;
        width: 95px;
        
    }
    #menu1_reqbutton{
    
        height: 40px;
        background-color: rgba(52,58,64,0.3);
        border-color: #DC3545;
        color: #DC3545;
        border-radius: 10px;
        float: right;
        display: block;
        margin-top: 8px;
        margin-right: 40px;

    
    }

    .button_reqcont::after{
        content: " ";
        display: block;
        height: 8px;
        clear: right;
      }

      .cap{
          background-color: green;
          width: 180px;
          margin-left: 80px;
          margin-bottom: 8px;
          
      }


      @media(max-width: 2687px){
        #menu1_button{
            margin-right: 20%;
       
    }
    
    .cap{
        margin-left: 44%;
    }
    .request_container{
        
        margin-left: 20%;
        width: 350px;
        
    }
    #menu1_button{
        margin-right: 20%;
    }
    .request_form_container{
      margin-left: 35%;
      margin-right: 35%;
      width: 60%
  } 
  
  
  .request_input{
      width:80%;
      height: 40px;
      margin-left: 10%;
      padding-left: 5px;
      margin-top: 0px;
  }
  .request_input1{
      width: 80%;
      height: 250px;
      margin-left: 10%;
      padding-left: 5px;
      resize: none;
      margin-top: 5px;
  }
  .Request_button{

      width: 30%;
      height: 40px;
      margin-left: 35%;
      background-color: #14B318;
      border-top-style: none;
      border-bottom-style: none;
      border-right-style: none;
      border-left-style: none;
      color: white;
      border-radius: 5%;
}

    @media(max-width: 1798px){
        #menu1_button{
            margin-right: 20%;
       
    }

    @media(max-width: 1610px){
        #menu1_button{
            margin-right: 20%;
        }

    }

      @media(max-width: 1433px){
          #menu1_button{
              margin-right: 20%;
          }
          /* .request_form_container{
            margin-left: 5%;
            
        } 
        .request_container{
        
            margin-left: 5%;
            width: 350px;
            
        } 
         */
         
      }

      @media(max-width: 1198px){
        #menu1_button{
            margin-right: 20%;
       
    }
    .request_form_container{
        
        margin-left: 30%;
        margin-right: 30%;
    }
    .cap{
        margin-left: 39%;
    }
    .request_container{
        
        margin-left: 30%;
        width: 350px;
        
    }
    }

    @media(max-width: 1066px){
        #menu1_button{
            margin-right: 20%;
       
    }
    .request_form_container{
        
        margin-left: 25%;
        margin-right: 30%;
    }
    .cap{
        margin-left: 35%;
    }
    .request_container{
        
        margin-left: 25%;
        width: 350px;
        
    }
    }

    @media(width: 1024px) and (height: 1366px){
        .request_form_container{
            margin-top: 2%;
            
        }
        .request_container{
        
            margin-bottom: 20%;
            width: 350px;
        
    }
        
    @media(max-width: 882px){
        #menu1_button{
            margin-right: 20%;
       
    }
    .request_form_container{
        
        margin-left: 20%;
        margin-right: 30%;
    }
    .cap{
        margin-left: 32%;
    }
    .request_container{
        
        margin-left: 20%;
        width: 350px;
        
    }
    }
      
        }
        @media(max-width: 802px){   
            #menu1_button{
                margin-right: 20%;
           
        }
        .request_form_container{
            
            margin-left: 13%;
            margin-right: 30%;
        }
        .cap{
            margin-left: 27%;
        }
        .request_container{
            
            margin-left: 13%;
            width: 350px;
            
        }
        }

        @media(max-width: 702px){   
            #menu1_button{
                margin-right: 20%;
           
        }
        .request_form_container{
            
            margin-left: 8%;
            margin-right: 15%;
        }
        .cap{
            margin-left: 23%;
        }
        .request_container{
            
            margin-left: 8%;
            width: 350px;
            
        }
        }
        

        @media(max-width: 557px){   
            .request_form_container{
            
                margin-left: 5%;
                margin-right: 10%;
            }
            .cap{
                margin-left: 23%;
            }
            .request_container{
                
                margin-left: 5%;
                width: 350px;
                
            }  
            }

            @media(max-width: 547px){   
               
                .request_form_container{
                    margin-left: 5%;
                    width: 70%
                } 
                .request_container{
                
                    margin-left: 5%;
                    width: 350px;
                    
                } 
                
                .request_input{
                    width:80%;
                    height: 40px;
                    margin-left: 10%;
                    padding-left: 5px;
                    margin-top: 0px;
                }
                .request_input1{
                    width: 80%;
                    height: 250px;
                    margin-left: 10%;
                    padding-left: 5px;
                    resize: none;
                    margin-top: 5px;
                }
                .Request_button{
    
                    width: 30%;
                    height: 40px;
                    margin-left: 35%;
                    background-color: #14B318;
                    border-top-style: none;
                    border-bottom-style: none;
                    border-right-style: none;
                    border-left-style: none;
                    color: white;
                    border-radius: 5%;
                }
            
                }
    
                @media(max-width: 422px){
                    .Request_button{
                        width:40%;
                        margin-left: 30%;
                    }
                    .cap{
                        margin-left: 17%;
                    }
                    .request_form_container{
                        margin-right: 10%;
                       
                    } 
                }