   <div class="signUp_container">
    <img class="signUp_image" src="./w.png">
    <h1 class="signUp_h2">user experience.</h1>
    <p class="signUp_p">SignUp to create your experience</p>
    </div>
    <form action="/signup" method="POST" autocomplete="off">
    <div class="signUp_form_container">
        <br><br>
    <p class="signUp_p1">SIGNUP HERE</p><br>
    <p style="color: red; text-align:center;">{{info}}</p>
    <input class="signUp_input" type="text" name="username" placeholder="Username" required><br><br>
    <input class="signUp_input1" type="password" name="password" placeholder="Password" required><br><br>
    <input class="signUp_input2" type="text" name="unit" placeholder="Select Unit"><br><br><br>
    <button class="signUp_button" value="submit">SIGN UP</button><br><br><br>
    
    </div>
    </form>
